---
# Only the main Sass file needs front matter (the dashes are enough)
---

// @import "minima";

:root {
  --bgcolor: #008082;
  --dialog-blue: #000080;
  --dialog-blue-light: #1084d0;
}

.site-title::before {
  background-image: url("/icon.png");
  background-size: 32px 32px;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  width: 37px;
  height: 32px;
  top: 8px;
  content: "";
}

body {
  background-color: var(--bgcolor);
}

#sidebar {
  float: left;
  max-width: 33%;
}

#page-content {
  float: left;
  max-width: 66%;
  margin-left: 4px;
}

ul.tree-view a {
  color: revert;
  text-decoration: revert;
}

ul.tree-view summary {
  cursor: pointer;
}

div.title-bar-text {
  user-select: none;
}

img.title-bar-icon {
  display: inline-block;
  height: 1em;
  margin-right: 4px;
}

div.title-bar-info {
  display: flex;
}

.status-bar.align-right .status-bar-field {
  flex-grow: 0;
}

.status-bar.align-right .status-bar-field:last-child {
  flex-grow: 1;
}

.status-bar.align-left .status-bar-field {
  flex-grow: 0;
}

.status-bar.align-left .status-bar-field:first-child {
  flex-grow: 1;
}

.post-link-highlight {
  outline: 2px dotted #000000;
}
